# The rest
*           text=auto eol=lf

# Rust project files
*.rs        rust
*.toml      text
Cargo.lock  linguist-generated=false

# Documentation
*.md        text
LICENSE     text

# Media
*.jpg       binary
*.png       binary
